 <form class="form-signin" name="form" novalidate>
   <h2 class="form-signin-heading">Register</h2>

   <form name="form" class="form-horizontal" novalidate>
      <input
         type="email"
         name="email"
         ng-model="registerCtrl.user.email"
         class="form-control"
         id="email"
         kp-input-focus
         placeholder="Email"
         required />
      <input
         type="password"
         ng-model="registerCtrl.user.password"
         class="form-control"
         id="password"
         name="password"
         kp-input-focus
         placeholder="Password"
         required />
      <button type="submit" class="btn btn-lg btn-primary btn-block login-btn" ng-disabled="form.$invalid" kp-loading-auth action="register" user="registerCtrl.user">Register</button>

      <div class="form-error form-double-error" ng-show="form.email.$dirty && form.email.$invalid && !form.email.$focused">
         <div class="alert alert-danger" ng-show="form.email.$error.required">Your email is required.</div>
         <div class="alert alert-danger" ng-show="form.email.$error.email">That is not a valid email. Please input a valid email.</div>
      </div>
      <div class="form-error form-double-error" ng-show="form.password.$dirty && !form.password.$focused">
         <div class="alert alert-danger" ng-show="form.password.$error.required">Your password is required.</div>
      </div>

      <div ng-bind="errorMsg" ng-show="errorMsg" class="form-error alert alert-warning"></div>
   </form>
